@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NEXONLv1GothicBold";
    font-weight: bold;
    src: url("./fonts/NEXONLv1GothicBold.ttf") format("truetype");
}
  
@font-face {
    font-family: "NEXONLv1GothicRegular";
    font-weight: normal;
    src: url("./fonts/NEXONLv1GothicRegular.ttf") format("truetype");
}

body {
    font-family: "NEXONLv1GothicRegular", "NEXONLv1GothicBold";
}

* {
    color: black;
    font-family: "NEXONLv1GothicRegular", "NEXONLv1GothicBold";
}